/* -------------------------------- 

 주요 스타일 요소

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; /* border-box 로 설정해 테두리를 포함한 크기를 지정을 쉽게함 */
}

html {
  font-size: 62.5%;     /* 폰트 사이즈 비율 지정 */
}

body {
  font-size: 16px;      /* 폰트 크기 지정 */
  font-family: "Do hyeon", sans-serif;  /* 글씨체 지정 */
  color: #ffffff;                     /* 폰트 색 지정 */
  background-color: #262423;          /* 배경 지정 */
}

a {
  color: #a8ae7e;             /* 폰트 색 지정 */
  text-decoration: none;        /* 텍스트 속성 초기화 */
}

img{   /* 선지 이미지에 적용 */
  margin: 0 auto;     /* 가운데 정렬 */
  margin-top: 15px;   /* 여백 설정 */
  margin-bottom: 15px;
  display: block;
}

/* -------------------------------- 

네비게이션 메뉴

-------------------------------- */
.cd-nav-trigger {
  position: absolute;         /* 위치속성 설정 */
  z-index: 4;
  top: 8px;                   /* 크기 지정 */
  right: 5%;
  height: 52px;
  width: 52px;
  border-radius: 50%;          /* 동그랗게 보이도록 설정 */
  background-color: rgb(255, 217, 0);  /* 배경색 설정 */
  transition: background 0.2s;           /* 배경 효과 시간 지정 */
}
.cd-nav-trigger .cd-icon,
.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {     /* 네비게이션 메뉴 아이콘에 적용 */

  position: absolute;                 /* 위치속성 설정 */
  background-color: #ffffff;         /* 배경색 설정 */
  border-radius: 2px;                 /* 테두리 굴곡 지정 */

  transform: translateZ(0);
  backface-visibility: hidden;
}
.no-touch .cd-nav-trigger:hover {   /* 호버 효과 */
  background-color: black;
}
.cd-nav-trigger .cd-icon {
  display: inline-block;     /* display 속성 지정 */
  width: 18px;               /* 크기 지정 */
  height: 2px;
  left: 50%;                 /* 위치 지정 */
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);  /* X, Y요소 위치 이동 */
  transition: transform 0.3s, background-color 0.3s;  /* 배경 효과 시간 지정 */
}

/* 네비게이션 메뉴 클릭되었을 때 */
.cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon::after {  /* 요소에 장식용 콘텐츠 효과 */
  content: '';      /* 내용 없음 */
  top: 0;           /* 위치 지정 */
  right: 0;
  width: 100%;       /* 화면을 꽉 채움 */
  height: 100%;
  transition: transform 0.3s;
}
.cd-nav-trigger .cd-icon::before {  /* 메뉴 아이콘에 적용 */
  transform: translateY(-6px);      /* Y요소 위치 이동 */
}
.cd-nav-trigger .cd-icon::after { /* 메뉴 아이콘에 적용 */
  transform: translateY(6px);     /* Y요소 위치 이동 */
}


/* 프로젝트가 열렸을 때 */
.cd-nav-trigger.project-open .cd-icon { /* 네비게이션 메뉴가 클릭되었을 때 적용 */
  background-color: rgba(255, 255, 255, 0);   /* 배경색 설정 */
}
.cd-nav-trigger.project-open .cd-icon::before, .cd-nav-trigger.project-open .cd-icon::after {  
  background-color: white;                 /* 배경색 설정 */
}
.cd-nav-trigger.project-open .cd-icon::before {
  transform: translateY(0) rotate(45deg);     /* Y요소 회전 */
}
.cd-nav-trigger.project-open .cd-icon::after {
  transform: translateY(0) rotate(-45deg);    /* Y요소 회전 */
}
/* 네비게이션 아이콘이 클릭되었을 때 */
.cd-nav-trigger.nav-visible .cd-icon {
  transform: translateY(-50%) translateX(-50%); /* X요소 위치 이동 */
}
.cd-nav-trigger.nav-visible .cd-icon::after {
  transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);  /* X, Y요소 위치 이동 및 회전, 크기 조절 */
}
.cd-nav-trigger.nav-visible .cd-icon::before {
  transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);  /* X, Y요소 위치 이동 및 회전, 크기 조절 */
}
@media only screen and (min-width: 1024px) {       /* 반응형 설정 */
  .cd-nav-trigger.nav-visible .cd-icon {
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  }
  .cd-nav-trigger.nav-visible .cd-icon::after {
    transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
  }
  .cd-nav-trigger.nav-visible .cd-icon::before {
    transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
  }
}

/* -------------------------------- 

 메인 콘텐츠 스타일 요소

-------------------------------- */
.cd-projects-container {    /* body에 적용 */
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

.cd-projects-previews {     /* preview 콘텐츠에 적용 */
  position: relative;
  z-index: 2;
  height: 100vh;            /* 화면 크기를 기준으로 한 높이 지정 */ 
  width: 100vw;             /* 화면 크기를 기준으로 한 너비 지정 */ 
}
.cd-projects-previews::after {  /* 요소에 장식용 콘텐츠 효과 */
  clear: both;
  content: "";
  display: table;             /* display 속성을 table 형식으로 지정 */
}

/* 프로젝트가 열렸을 때 적용 */
.project-open .cd-projects-previews {
  pointer-events: none;
}
.cd-projects-previews li {
  height: 25%;       /* 크기 설정 */
  width: 100%;
  overflow: hidden;   /* 자리는 차지하되, 보이지 않도록 지정 */
  transition: transform 0.5s; /* 일정 시간동안 동적인 효과 줌 */
  backface-visibility: hidden;
  transform: translateZ(1px);
}
/* 선택된 preview 프로젝트에 적용 */
.cd-projects-previews li.selected {
  opacity: 0;     /* 투명도 0으로 설정 */
  transform: translateX(-100%);   /* 화면 밖으로 이동 */
  transition: transform 0s;       /* 바로 적용되도록 함 */
}
.cd-projects-previews li.slide-out {
  transform: translateX(-100%); /* 화면 밖으로 이동 */
}
.cd-projects-previews a {
  display: block;
  height: 100vh;      /* 화면 크기를 기준으로 한 높이 지정 */ 
  width: 100%;        /* 화면에 꽉 차도록 너비 지정 */ 
  transform: translateY(0%);
  opacity: 0;
  transition: opacity 0.5s; /* 배경 효과 시간 지정 */
}
.cd-projects-previews li:nth-of-type(2) a { /* 두번째 preview 위치 */ 
  transform: translateY(-25%);
}
.cd-projects-previews li:nth-of-type(3) a { /* 세번째 preview 위치 */ 
  transform: translateY(-50%);
}
.cd-projects-previews li:nth-of-type(4) a { /* 네번째 preview 위치 */ 
  transform: translateY(-75%);
}
.cd-projects-previews .bg-loaded a {
  opacity: 1;       /* 투명도 1로 설정 (완전히 보이게 함) */ 
}
@media only screen and (min-width: 1024px) {  /* 반응형 */ 
  .cd-projects-previews li {
    display: inline-block;
    height: 100%;
    width: 25%;
    float: left;
  }
  .cd-projects-previews li.selected {
    transform: translateY(-100%);
  }
  .cd-projects-previews li.slide-out {
    transform: translateY(-100%);
  }
  .cd-projects-previews a {
    width: 400%;
  }
  .cd-projects-previews li:nth-of-type(2) a {
    transform: translateX(-25%);
  }
  .cd-projects-previews li:nth-of-type(3) a {
    transform: translateX(-50%);
  }
  .cd-projects-previews li:nth-of-type(4) a {
    transform: translateX(-75%);
  }
}

.cd-projects {          /* 프로젝트 내부 컨텐츠에 적용 */ 
  position: absolute;    /* 위치 속성 */ 
  z-index: 1;
  top: 0;               /* 위치 지정 */
  left: 0;
  height: 100vh;        /* 화면 크기를 기준으로 한 높이 지정 */ 
  width: 100vw;         /* 화면 크기를 기준으로 한 너비 지정 */ 
} 
.cd-projects > li {
  position: absolute;   /* 위치 속성 */ 
  top: 0;
  left: 0;
  height: 100%;       /* 화면에 꽉 차도록 높이 지정 */ 
  width: 100%;         /* 화면에 꽉 차도록 너비 지정 */ 
  opacity: 0;           /* 투명도 0으로 */ 
  transition: opacity 0.3s;   /* 0.3초 동안 */ 
}
.cd-projects > li.selected {     /* 선택되었을 시 */ 
  z-index: 1;
  opacity: 1;                   /* 투명도 1로 */ 
  transition: opacity 0s;        /* 0.3초 동안 */ 
}
.cd-projects .preview-image {   /* preview 확대된 화면에 적용 */ 
  display: block;
  height: 100vh;                /* 화면 크기를 기준으로 한 높이 지정 */
}

.cd-projects-previews a,
.cd-projects .preview-image {    /* 첫번째 preview 요소에 적용 */ 
  background: #5b927d url(../img1/1.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(2) a,
.cd-projects > li:nth-of-type(2) .preview-image { /* 두번째 preview 요소에 적용 */ 
  background: #a8ae7e url(../img1/2.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(3) a,
.cd-projects > li:nth-of-type(3) .preview-image { /* 세번째 preview 요소에 적용 */ 
  background: #e7d5a4 url(../img1/3.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(4) a,
.cd-projects > li:nth-of-type(4) .preview-image { /* 네번째 preview 요소에 적용 */ 
  background: #835531 url(../img1/4.jpg) no-repeat center center;
  background-size: cover;
}
.cd-project-title {       /* 내부 컨텐츠의 제목 */ 
  position: absolute;     /* 위치 설정 */ 
  width: 100%;            /* 너비는 화면에 꽉 차게 */ 
  top: calc(50% - 20px);   /* 위치 계산해 설정 */
  left: 0;
  color: #ffffff;          /* 폰트색 지정 */
  transform: translateY(-37.5vh);     /* Y요소 위치 이동 */
  transition: transform 0.6s 0.2s;     /* 특정 시간동안 */
  text-align: center;                  /* 가운데 정렬 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-project-title::after {
  content: '';
  position: absolute;
  left: 50%;             /* 위치 설정 */ 
  bottom: -10px;
  width: 40px;            /* 크기 설정 */ 
  height: 1px;
  background: #ffffff;  /* 배경색 설정 */ 
  transform: translateX(-50%) scale(0); /* X요소 위치 이동 */
  transition: transform 0.3s;   /* 특정 시간동안 */
}
.no-touch .cd-projects-previews a:hover .cd-project-title::after {  /* a 호버시 */
  transform: translateX(-50%) scale(1); /* X요소 위치 이동 */
}
.cd-projects .cd-project-title::after {
  transform: translateX(-50%) scale(1); /* X요소 위치 이동 */
  transition: transform 0.3s 0.3s;      
}
.cd-project-title h2 {
  font-size: 50px;        /* 폰트 설정 */
  line-height: 1.5;
  font-weight: 700;
}
.cd-project-title p {
  font-size: 34px;        /* 폰트 설정 */
  font-family: "Do hyeon", serif;
  font-style: italic;
  line-height: 1.2;
  padding: .4em 2em;        /* 여백 설정 */
  opacity: .8;
}
@media only screen and (min-width: 1024px) {     /* 반응형 */
  .cd-project-title {
    width: 25%;
    top: 50vh;

    transform: translateX(0%);
  }
}
.cd-projects-previews li:nth-of-type(2) .cd-project-title,  /* 두번째 preview 요소에 적용 */ 
.cd-projects > li:nth-of-type(2) .cd-project-title {
  transform: translateY(-12.5vh);    /* Y요소 위치 이동 */
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(2) .cd-project-title,   /* 반응형 */
  .cd-projects > li:nth-of-type(2) .cd-project-title {
    transform: translateX(100%);
  }
}

.cd-projects-previews li:nth-of-type(3) .cd-project-title,  /* 세번째 preview 요소에 적용 */ 
.cd-projects > li:nth-of-type(3) .cd-project-title {
  transform: translateY(12.5vh);     /* Y요소 위치 이동 */
}
@media only screen and (min-width: 1024px) {              /* 반응형 */
  .cd-projects-previews li:nth-of-type(3) .cd-project-title,
  .cd-projects > li:nth-of-type(3) .cd-project-title {
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
}

.cd-projects-previews li:nth-of-type(4) a .cd-project-title,  /* 네번째 preview 요소에 적용 */ 
.cd-projects > li:nth-of-type(4) .cd-project-title {
  transform: translateY(37.5vh);       /* Y요소 위치 이동 */
}
@media only screen and (min-width: 1024px) {              /* 반응형 */
  .cd-projects-previews li:nth-of-type(4) a .cd-project-title,
  .cd-projects > li:nth-of-type(4) .cd-project-title {
    transform: translateX(300%);
  }
}
/* 선택된 preview 요소에 적용 */ 
li.selected .cd-project-title,
.cd-projects > li:nth-of-type(2).selected .cd-project-title,
.cd-projects > li:nth-of-type(3).selected .cd-project-title,
.cd-projects > li:nth-of-type(4).selected .cd-project-title {
  transform: translateY(0);
}
@media only screen and (min-width: 1024px) {
  li.selected .cd-project-title,
  .cd-projects > li:nth-of-type(2).selected .cd-project-title,
  .cd-projects > li:nth-of-type(3).selected .cd-project-title,
  .cd-projects > li:nth-of-type(4).selected .cd-project-title {

    transform: translateX(150%);
  }
}

.cd-projects li.selected .cd-project-title::after {
  transition: transform 0.3s 0s;     /* 특정 시간동안 */
  transform: translateX(-50%) scale(0); /* X요소 위치 이동 */
}

.touch .cd-projects li.selected .cd-project-title::after {
  transition: transform 0s;   /* 곧바로 작업 수행 */
}

.cd-project-info {      /* 메인 컨텐츠 */
  font-size: 26px;      /* 폰트 크기 설정 */
  display: none;
  padding: 4em 0;       /* 여백 설정 */
  background-color: #ffffff;   /* 배경 설정 */
  color: #7d7c7b;     /* 폰트색 설정 */
}
.cd-project-info .title {   /* 메인 컨텐츠 제목 */
  font-size: 32px;           /* 폰트 크기 설정 */
  font-weight: 700;            /* 폰트 굵기 설정 */
  color: #0e0c0b;           /* 폰트색 설정 */
}
.content-visible .cd-project-info {
  display: block;
}
.cd-project-info p {    /* 메인 컨텐츠 내용 */
  width: 90%;           /* 너비 설정 */
  text-align: center;   /* 가운데 정렬 */
  max-width: 800px;     /* 텍스트가 놓일 수 있는 가운데 위치 범위 지정 */
  margin: 0 auto;       /* 가운데 정렬 */
  line-height: 2;
}

.cd-projects-container .scroll {    /* 스크롤스타일 지정 */
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 30px;   /* 위치 설정 */
  left: 50%;
  width: 44px;    /* 크기 설정 */
  height: 44px;
  cursor: pointer;    /* 커서 모양 포인터 모양으로 변경 */
  border: none;
  background: url("../img1/cd-icon-arrow.svg") no-repeat center center;
  visibility: hidden;                     /* 내용은 보이지 않게 함 */
  transform: translateX(-50%) scale(0);   /* X요소 위치 이동 */
  transition: transform 0.3s 0s, visibility 0s 0.3s;    /* 특정 시간동안 */
}
.cd-projects-container .scroll:focus {
  outline: none;
}
 /* 프로젝트가 열릴 때 */
.cd-projects-container.project-open .scroll {
  visibility: visible;                    /* 내용이 보이게 함*/
  transform: translateX(-50%) scale(1);   /* X요소 위치 이동 */
  transition: transform 0.4s 0s, visibility 0s 0s;  /* 특정 시간동안 */
  animation: cd-translate 1.2s 0.8s;
  animation-iteration-count: 2;
}

.no-touch .cd-projects-container.project-open .scroll:hover { /* 스크롤 호버시 */
  transform: translateX(-50%) scale(1.2);   /* 줌인 효과 */
}


@keyframes cd-translate {        /* keyframe 구간 지정해 스크롤 움직이도록 함 */
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
/* -------------------------------- 

 네비게이션

-------------------------------- */
.cd-primary-nav {    /* 네비게이션 내용 */
  position: absolute;  /* 위치 속성 */
  z-index: 1;
  top: 0;              /* 위치 지정 */
  left: 0;
  height: 100%;          /* 크기 지정 */
  width: 100%;
  overflow: auto;
  text-align: center;    /* 가운데 정렬 */
  opacity: 0;
  transition: opacity 0.6s;    /* 특정 시간동안 opacity 변경 */
  display: table;
}
.cd-primary-nav ul {    
  display: table-cell;    /* 내부 요소는 표의 셀형식으로 display속성 지정 */
  vertical-align: middle;  /* 가운데 정렬 */
}
.cd-primary-nav a {
  display: inline-block;    /* display속성 지정 */
  padding: .4em 1em;         /* 여백 지정 */
  border-radius: 4px;
  transition: background 0.2s;     /* 특정 시간동안 동적인 효과 */
  color: #ffffff;                /* 폰트색 지정 */
  font-family: "Do hyeon", serif;    /* 글씨체 지정 */
  font-size: 2.4rem;                 /* 폰트 크기 지정 */
  font-weight: 700;                    /* 폰트 굵기 지정 */
}
.no-touch .cd-primary-nav a:hover {    /* 호버시 */
  background-color: #a8ae7e;      /* 배경 색 변경 */
}
.cd-primary-nav .cd-label {
  position: relative;   /* 위치 지정 */
  margin: 2.4em 0 2em;   /* 여백 지정 */
  color: #a8ae7e;      /* 폰트색 지정 */
  text-transform: uppercase;
  font-weight: 700;    /* 폰트 굵기 지정 */
  font-size: 1.2rem;  /* 폰트 크기 지정 */
  letter-spacing: 1px;
}
.cd-primary-nav .cd-label::after {     /* 가상 요소 설정 - 장식용 효과 */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);     /* X요소 위치 이동 */
  bottom: -16px;       /* 위치 지정 */
  height: 1px;           /* 크기 지정 */
  width: 40px;
  background-color: currentColor;
}
.cd-primary-nav.nav-visible {     /* 보이게 할때 적용 */
  opacity: 1;
}
.cd-primary-nav.nav-clickable {    /* 클릭 가능하게 할때 적용 */
  z-index: 3;
}
.no-csstransitions .cd-primary-nav.nav-visible {
  z-index: 3;
}
@media only screen and (min-width: 1170px) {     /* 반응형 */
  .cd-primary-nav a {
    font-size: 4rem;
  }
}

/* -------------------------------- 

JavaScript Disabled

-------------------------------- */
.no-js .cd-primary-nav {
  display: block;
  position: static;
  opacity: 1;
  margin-bottom: 1.5em;
}
.no-js .cd-primary-nav ul {
  display: block;
  padding: 0 5%;
}
.no-js .cd-primary-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-primary-nav li:not(.cd-label) {
  display: inline-block;
}
