/* React 사용 대상부 조정 */
.wrapper {
  width: 100vw;
  height: 100vh;
  background: #eee;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
}

.container {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto;
}

/* path 렌더러 초기화 */
.house {
  cursor: pointer;
  font-size: 30px;
  font-family: 'Oak', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.house .bg-fill {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.house text {
  fill: #333;
  -webkit-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}

.house:hover .bg-fill,
.house.active .bg-fill {
  opacity: 1;
}

.house:hover text,
.house.active text {
  fill: #333;
}

/* path 렌더러 관련 초기화 종료 */

/* 제목 및 심리테스트 미리보기 */
#title {
  position: fixed;
  top: 60px;
  font-size: 60px;
  width: 100%;
}

/* 네비게이션 메뉴 속성 초기화 */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 네비게이션 바 내부 아이템  */
.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: white;

  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}


@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }

  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active>a span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/* 내비게이션 내부 아이템 적용 종료 */

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

/* 미디어 태그 선언 */
@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/* 미디어 태그 종료 */

/* footer  */
.footer {
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  display: flex;
  font: 10px/1.7 'Nunito';
  padding: 3px 3px;
  border-radius: 10px;
  border-bottom: 1px dashed;
  background: transparent;
  border: 1px dashed #ededed;
  color: #ededed;
  background: #454a56;
  align-items: center;
  justify-content: center;
}