
/* -------------------------------- 

 주요 스타일 요소

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;  /* border-box 로 설정해 테두리를 포함한 크기를 지정을 쉽게함 */
}

html {  
  font-size: 62.5%; /* 폰트 사이즈 비율 지정 */
}

body {
  font-size: 1.6rem;  /* 폰트 크기 지정 */
}

a {
  text-decoration: none;  /* 텍스트 속성 초기화 */
}

/* -------------------------------- 

 공통 스타일 요소

-------------------------------- */

 /* 시작 페이지, 결과 페이지 버튼 */
.cd-btn {
  display: inline-block;                         /* display 속성 설정 */
  padding: 1.0em 1.6em;                          /* 여백 설정 */
  font-size: 2.0rem;                             /* 폰트 속성 설정 */
  letter-spacing: .15em;
  font-weight: 700;               
  text-transform: uppercase;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); /* 그림자 효과 */
  transition: box-shadow .3s;                   /* 호버효과 시간 지정 */
}
.cd-btn:hover {  /* 버튼의 호버효과 */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);  /* 그림자 효과 */
}

h1 {
  line-height: 1; /* 줄의 높이 지정 */
}

/* Main Content */
.cd-main-content {      /* 시작/결과 페이지 */
  position: relative;   /* 위치 속성 지정 */
  z-index: 1;
  width: 100%;          /* 화면에 꽉 차는 너비로 설정 */
  height: 100vh;        /* 화면크기를 기준으로 한 높이 지정 */
  display: table;
}
.cd-main-content1 {        /* 질문 페이지 */
  position: relative;      /* 위치 속성 지정 */
  z-index: 1;
  width: 100%;             /* 화면에 꽉 차는 너비로 설정 */
  height: 100vh;           /* 화면크기를 기준으로 한 높이 지정 */
  display: table;
}
/* Main Content 내부 요소 */
.cd-main-content1 .center {
  display: table-cell;
  vertical-align: top;  /* table-cell의 정렬(위) */
  text-align: center;   /* 가운데 정렬 */
}

.cd-main-content .center {
  display: table-cell;
  vertical-align: middle; /* table-cell의 정렬(가운데) */
  text-align: center;     /* 가운데 정렬 */
}



/* -------------------------------- 

시작/결과 페이지 스타일 요소

-------------------------------- */
.hhh{     /* footer에 적용 */
  text-align: center;   /* 가운데 정렬 */
  background-color: #f3df2a;   /* 배경색 지정 */
}

.gummy-transition .hH{     /* header에 적용 */
  color : black;        /* 글자색 설정 */
  display : inline-box;
  height: 70px;
  margin: 0px;               /* 여백 설정 */
  padding : 5px;
  background-color: rgb(241, 240, 137); /* 배경색 지정 */
}

.gummy-transition .hh{    /* nav 에 적용 */
  background-color: #f3df2a;  /* 배경색 지정 */
  margin : 0;                   /* 여백 설정 */
  padding : 0;
}
.gummy-transition {       /* body의 모든 요소에 적용 */
  font-family: 'Do hyeon', sans-serif;
  color: black;       /* 글자색 설정 */
}
.gummy-transition h1, .gummy-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;      /* font 속성 지정 */
  font-weight: 700;
}
.gummy-transition .cd-btn {  /* 버튼에 적용 */
  background: #f0d807;     /* 배경색 지정 */
  color: #f2f2f2;          /* 글자색 설정 */
  border-radius: 50em;
}
.gummy-transition .cd-main-content {    /* 메인 컨텐츠에 적용 */
  background-image: url('train.jpg');   
  background-size:100%;                  /* 배경이미지 화면에 꽉 차도록 지정 */
}
@media only screen and (min-width: 768px) {   /* 반응형 */
  .gummy-transition h1 {
    font-size: 7.2rem;
  }
  .gummy-transition h2 {
    font-size: 5.8rem;
  }
}

/* -------------------------------- 

질문페이지 스타일 요소

-------------------------------- */


.gummy1-transition .hH{      /* header에 적용 */
  color : black;          /* 글자색 설정 */
  display : inline-box;
  height: 70px;
  margin: 0px;              /* 여백 설정 */
  padding : 5px;
  background-color: rgb(241, 240, 137); /* 배경색 지정 */
}
.gummy1-transition figure{      /* 선지 이미지에 적용 */
  display : inline-block;
  
}

/* 선지 이미지 줌인 효과 */
.gummy1-transition .scale {     
  transform: scale(1);                /* 이미지 초기 크기 */
  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.gummy1-transition .scale:hover { 
  transform: scale(1.2);            /* 호버시 이미지 크기 */
}
.gummy1-transition .image1{
  margin : 40px 40px 0 40px;    /* 여백 설정 */
  font-size: 30px;
 
}
.gummy1-transition .text{     /* 질문 폰트 설정 */
  font-size: 35px;          
  font-weight: 500;
}

 /* 텍스트 타이핑 효과 */
.gummy1-transition p.typing-txt{
  display: none;
}
.gummy1-transition .typing {
  font-size: 40px;                        /* 폰트 설정 */
  font-weight: 700;
  display: inline-block;
  animation-name: cursor;        
  animation-duration: 0.3s;
  animation-iteration-count: infinite;    /* 무한 반복 */
  border-right: 1px solid #ccc;         /* 커서가 보이는 것처럼 효과를 줌 */
}


.gummy1-transition .hh{          /* nav에 적용 */
  background-color: #f3df2a;  /* 배경색 지정 */
  margin : 0;                    /* 여백 설정 */
  padding : 0;
}
.gummy1-transition {                    /* body에 적용 */
  font-family: 'Do hyeon', sans-serif;  /* font 속성 지정 */
  color : black;                      /* 글자색 설정 */
}

.gummy1-transition h1, .gummy1-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;              /* font 속성 지정 */
  font-weight: 700;
}

.gummy1-transition .cd-main-content1 { /* 메인 컨텐츠에 적용 */
  background-image: url('road3.jpg'); /* 배경이미지 지정 */
  background-size:100%;                /* 배경이미지 화면에 꽉 차도록 지정 */
}
@media only screen and (min-width: 768px) { /* 반응형 */
  .gummy1-transition h1 {
    font-size: 7.2rem;
  }
  .gummy1-transition h2 {
    font-size: 5.8rem;
  }
}

/* -------------------------------- 

결과 페이지 스타일 요소

-------------------------------- */


.gummy2-transition .hH{       /* header에 적용 */
  color : black;
  display : inline-box;
  height: 70px;
  margin: 0px;                /* 여백 설정 */
  padding : 5px;
  background-color: rgb(241, 240, 137);  /* 배경색 지정 */
}
.gummy2-transition .hh{         /* nav에 적용 */
  position: relative ;
  z-index: 9999;
  background-color: #f3df2a;   /* 배경색 지정 */
  margin : 0;                    /* 여백 설정 */
  padding : 0;
}
.gummy2-transition {
  font-family: 'Do hyeon', sans-serif;
  color : black;                /* 글자색 설정 */
}
.gummy2-transition h1, .gummy2-transition h2 {
  margin-bottom: .4em;
  font-size: 4rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) { /* 반응형 */
  .gummy2-transition h1 {
    font-size: 7.2rem;
  }
  .gummy2-transition h2 {
    font-size: 5.8rem;
  }
}

